# 02. Collections module - Namedtuple, Orderdict

In [1]:
import collections

기본적인 tuple
- 파이썬에서 기본적으로 제공되는 자료구조

In [9]:
aa = ("홍길동", 24, "남")

In [10]:
print(aa)

('홍길동', 24, '남')

In [11]:
bb = ("김길동",21,"여")

In [12]:
print(bb)

('김길동', 21, '여')

In [6]:
print(bb[0])

김길동

In [14]:
for n in [aa, bb]:
    print("%s은(는) %d세의 %s성 입니다." %n)

홍길동은(는) 24세의 남성 입니다.
김길동은(는) 21세의 여성 입니다.

namedtuple이 dictionary형보다 메모리 측면에서 효율적

In [16]:
Person = collections.namedtuple("Person", "name age gender")
# 이름을 지정한 것임

In [20]:
aa = Person(name="홍길동", age=25, gender="남")

In [21]:
bb = Person(name="김길동", age=21, gender="여")

In [23]:
aa

Person(name='홍길동', age=25, gender='남')

In [24]:
print(aa)

Person(name='홍길동', age=25, gender='남')

In [26]:
for n in [aa, bb]:
    print("%s는 %d세이며 %s성입니다" %n)

홍길동는 25세이며 남성입니다
김길동는 21세이며 여성입니다

# OrderedDict

- 자료의 순서를 기억하는 사전형 객체

In [31]:
dic = {}

In [32]:
dic["서울"] = "LG 트윈스"

In [33]:
dic

{'서울': 'LG 트윈스'}

In [34]:
dic["인천"] = "SK 와이번스"

In [35]:
dic

{'서울': 'LG 트윈스', '인천': 'SK 와이번스'}

In [36]:
for i, j in dic.items():
    print(i, j)

인천 SK 와이번스
서울 LG 트윈스

In [37]:
dict1 = collections.OrderedDict()
dict1["서울"] = "LG 트윈스"
dict1["인천"] = "SK 와이번스"

In [38]:
# 삽입된 순서를 기억함
dict1

OrderedDict([('서울', 'LG 트윈스'), ('인천', 'SK 와이번스')])

In [39]:
for i, j in dict1.items():
    print(i, j)

서울 LG 트윈스
인천 SK 와이번스